In [1]:
import pandas as pd
import matplotlib.pyplot as plt
spain_df = pd.read_csv('results/spain_clean.csv')
season_results_df = pd.read_csv('results/season_standings.csv')
spain_df

,Date,Season,home,visitor,score,hgoal,vgoal,hpoint,vpoint
0,1929-02-10,1928,Real Sociedad,Athletic Bilbao,1-1,1,1,1,1
1,1929-02-10,1928,Espanyol Barcelona,Real Union,3-2,3,2,3,0
2,1929-02-10,1928,Real Madrid,CE Europa,5-0,5,0,3,0
3,1929-02-10,1928,Arenas de Getxo,Atletico Madrid,2-3,2,3,0,3
4,1929-02-12,1928,Racing Santander,FC Barcelona,0-2,0,2,0,3
...,...,...,...,...,...,...,...,...,...
26190,2022-05-22,2021,Real Sociedad,Atletico Madrid,1-2,1,2,0,3
26191,2022-05-22,2021,Elche CF,Getafe CF,3-1,3,1,3,0
26192,2022-05-22,2021,Granada CF,Espanyol Barcelona,0-0,0,0,1,1
26193,2022-05-22,2021,CD Alaves,Cadiz CF,0-1,0,1,0,3
26194,2022-05-22,2021,Sevilla FC,Athletic Bilbao,1-0,1,0,3,0

In [2]:
season_results_df

      Season             Team  Points  GS  GA  GD  Wins  Losses  Ties
0       1928     FC Barcelona      36  37  23  14    11       4     3
1       1928      Real Madrid      34  40  27  13    11       6     1
2       1928    Real Sociedad      28  46  41   5     8       6     4
3       1928  Athletic Bilbao      28  43  33  10     8       6     4
4       1928  Arenas de Getxo      27  32  39  -7     8       7     3
...      ...              ...     ...  ..  ..  ..   ...     ...   ...
1557    2021         Cadiz CF      39  35  51 -16     8      15    15
1558    2021        Getafe CF      39  33  41  -8     8      15    15
1559    2021       Granada CF      38  44  61 -17     8      16    14
1560    2021       Levante UD      35  51  76 -25     8      19    11
1561    2021        CD Alaves      31  31  65 -34     8      23     7

[1562 rows x 9 columns]